.App {
  text-align: center;
}

logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
 logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

select {
  margin-top: 150px;

  padding: 50;
  width: 200;
  font-size: 20px;
}
container {
    display: "flex";
    flex-direction:   "column";
    align-items: "center"
  }

  .App-result {
    margin-top:   30
  }

  img{
    height: 500px;
    width: 450px;
    }
    h1{
    color: darkgreen;
    margin-top: 20px;
    font-family: Comic Sans MS, cursive, sans-serif;
    }
    .button{
    margin-left: 45%;
    }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin-top: 100px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  font-size: 20px;
  border: 5px double gold;
  text-align: left;
  padding: 8px;
  font-family: cursive;
   cursor: pointer;

}
tr:nth-child(odd) {
  background-color: PapayaWhip;
}
tr:nth-child(even) {
  background-color: PowderBlue;
}

body{
  background-image: url('../src/assets/img/bg.jpg');
  font-family: cursive;
}
